////
/// Radio Module : radio sm
/// @group radio
////

@use 'module/spacing';

#{ns-group(radio)}--sm {
  input[type="radio"] {
    @include size(4v, 4v);
    top: #{space(1v)};

    & + label {
      @include padding-left(6v);
      background-position: spacing.space(calc(-0.5v + 1px)) spacing.space(calc(1v - 1px)), spacing.space(calc(-0.5v + 1px)) spacing.space(calc(1v - 1px));
      background-size: spacing.space(4.5v) spacing.space(4.5v), spacing.space(4.5v) spacing.space(4.5v);

      @include before {
        @include size(4v, 4v);
        border-radius: spacing.space(4v);
        @include margin-left(-6v);
      }
    }
  }
}
